<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAIHlRbqeaa4YVrmXAk7lkPzKMCI4dJvM</string>
	<key>GCM_SENDER_ID</key>
	<string>984533617408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.haritaodev</string>
	<key>PROJECT_ID</key>
	<string>mapstate-7f210</string>
	<key>STORAGE_BUCKET</key>
	<string>mapstate-7f210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984533617408:ios:d1e5f9d7b9e1a3dc87c1e5</string>
</dict>
</plist>